{% extends "layout.html" %}

{% block title %}
    Find Friends
{% endblock %}

{% block main %}
<p ><b>Find friends for who?</b></p>
    <form action="/findfriends" method="post">
        <div class="form-group">
        <select class="form-control" name="name">
                 <!--option value="name">For Who</option-->
                {% for pet in pets %}
                   <option value = "{{pet.name}}">{{pet.name}}</option>
                {% endfor %}
        </select>
        </div>
        <p><b>I want to find friends in my...</b></p>
        <div class="form-group">
             <input type="radio" name="zipcode" value="zipcode"> Postal code<br>
             <input type="radio" name="city" value="city"> City<br>
             <input type="radio" name="state" value="state"> State<br>
        </div>
        <p><b>My dog plays best with...</b> </p>
        <div class="form-group">
            <input type="radio" name="M" value="M"> <i>male</i> dogs.<br>
             <input type="radio" name="F" value="F"> <i>female</i> dogs.<br>
             <input type="radio" name="Both" value="Both">My dog has no preference.<br>
        </div>
        <p> <b> I'd like to find friends for my dog that are of the <i>same</i> breed.</b></p>
            <div class="form-group">
            <input type="radio" name="yes" value="Y">Yes.<br>
             <input type="radio" name="no" value="N">No.<br>
        </div>
        <button class="btn btn-primary" type="submit">Find Friends! WOOF!</button>
    </form>
{% endblock %}