<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hi Melody" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


                <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->

        <!-- https://github.com/corejavascript/typeahead.js/blob/master/doc/jquery_typeahead.md -->
        <script src="https://cdn.rawgit.com/corejavascript/typeahead.js/master/dist/typeahead.jquery.js"></script>

        <!-- http://handlebarsjs.com/ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

        <!-- app's own JavaScript -->
        <script src="/static/scripts.js"></script>

        <title>Fido'sFitness&Friends: {% block title %}{% endblock %}</title>

        <style>
          body {
            font-family: 'Montserrat', serif;
            font-size: 20px;
          }
        </style>

    </head>

    <body>

    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">Fido's Fitness & Friends</h1>
        <p class="text-center">A web application to track your dog's fitness and search for other pupmates!</p>
      </div>
        <nav class="navbar navbar-expand-md navbar-light bg-light border" style="background-color: #e3f2fd;">
             <div class="container-fluid">
                <!--div class="navbar-header">
                    <a class="navbar-brand" href="/"><span class="blue">About</span></a>
                </div-->
            <!--button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button-->
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/mypets">My Pets</a></li>
                        <li class="nav-item"><a class="nav-link" href="/new">Add Pet</a></li>
                        <li class="nav-item"><a class="nav-link" href="/findfriends">Find Friends</a></li>
                        <li class="nav-item"><a class="nav-link" href="/plot">View Exercise Diary</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
                </div>
            </nav>
    <!--/div-->

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">
            CS50 Final Project</br> Liz Herdter </br> St. Petersburg, FL <!--a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a-->.
        </footer>
</div>
    </body>

</html>
