{% extends "layout.html" %}

{% block title %}
    Enter Your Location
{% endblock %}

{% block main %}
    <form action="/location" method="get" id="form">
        <!--div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password"/>
        </div>
        <!-- http://getbootstrap.com/css/#forms -->
        <!--form id="form"-->
                <div class="form-group">
                    <label class="sr-only" for="q">City, State, Postal Code</label>
                    <input class="form-control" id="q" placeholder="City, State, Postal Code" type="text"/>
                </div>
            </form>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}


