{% extends "layout.html" %}

{% block title %}
    My Pets
{% endblock %}

{% block main %}
<p><b>My Pets</b></p>
    <table class="table table-hover">
        <thead>

        <tr>
            <th> Name </th>
            <th>  Type</th>
            <th> Sex </th>
            <th> DOB </th>
        </tr>

        </thead>
        <tbody>
            {% for pet in pets %}
        <tr>
            <td> {{pet.name }}</td>
            <td> {{pet.type }}</td>
            <td> {{pet.sex }}</td>
            <td> {{pet.DOB}}</td>
        </tr>
         {% endfor %}
        </tbody>
    </table>

<p> <b>Update Health Diary</b> </p>
    <form action="/mypets" method="post">
        <div class="form-group">
        <select class="form-control" name="name">
                 <!--option value="name">For Who</option-->
                {% for pet in pets %}
                   <option value = "{{pet.name}}">{{pet.name}}</option>
                {% endfor %}
        </select>
        </div>

    <form action="/mypets" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="weight" placeholder="Weight (lbs)" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="exc" placeholder="Exercise Amt (minutes)" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="date" placeholder="Date (MM-DD-YYYY)" type="date" value = "06-01-2017"/>
        </div>
        <button class="btn btn-primary" type="submit">Add to Health Diary! WOOF!</button>
    </form>
    <p> To view health diary select the <i>View Exercise Diary</i> tab.</p>


{% endblock %}


